<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
    panelClass="sort-select"
    [(ngModel)]="sort">
    <!-- >    (selectionChange)="searchShops()"  -->
    <mat-option value="name">Name</mat-option>
    <mat-option value="-Food">Food</mat-option>
    <mat-option value="-Super Market">Super Market</mat-option>
    <mat-option value="-Clothing">Clothing</mat-option>
    <mat-option value="-Jewellery">Jewellery</mat-option>
    <mat-option value="-Home Decor">Home Decor</mat-option>
    <mat-option value="-Electronics">Electronics</mat-option>

    </mat-select>
  </mat-form-field>
  <div class="shops">
    <!-- <ng-container *ngFor="let shop of shops"> -->
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/1.jpg" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Puma</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/2.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Adidas</p>
        <div class="shop-location">Second Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/3.jpeg" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Odel</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/4.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Nolimit</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/5.jpg" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Dream Jewels</p>
        <div class="shop-location">Second Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/6.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Pizza Hut</p>
        <div class="shop-location">Third Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/7.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Taco Bell</p>
        <div class="shop-location"> Third Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/8.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Baskin Robbins</p>
        <div class="shop-location">Second Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/9.jpg" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Keells</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/10.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">MiniSo</p>
        <div class="shop-location">Second Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/11.jpg" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Abans</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>
    <div class="shop">
      <div class="shop-thumb-container">
        <img class="shop-thumbnail" src="../../../assets/images/home/shop-logo/12.png" alt="thumbnail"/>
        <!-- <img
     *ngIf="shop.background_image"
        class="shop-thumbnail" src="{{shop.background_image}}" alt="thumbnail"/> -->
      </div>
      <div class="shop-description">
        <p class="shop-name">Damro</p>
        <div class="shop-location">First Floor</div>
      </div>
    </div>

    <!-- </ng-container> -->
  </div>
</div>
