.filters {
  max-width: 1200px;
  margin-left: 5.2%;
  // margin: 20px auto;
  padding-left: 20px;
  margin-top: -4%;
}
::ng-deep {
  .mat-form-field-infix {
    background-color: var(--primary-color);
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
    opacity: 1;
  }
  .mat-form-field-infix {
    border-color: white !important;
    border-top: none;
    padding-left: 5px !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
  }
}
.shops
{
  // display:inline-flex;
  // flex-wrap:wrap;
  // justify-content: center;
  // max-width: 1200px;
  // margin: 20px auto;
  // margin-left: 20%;
  display: flex;
  flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:unset;
    margin-left: 2vh;
    width: 170vh;
}
.shop{
  width: 280px;
  margin: 40px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color:rgb(184, 212, 212);
  box-shadow: 4px 3px 8px 0px rgb(211, 218, 208);
  transition-duration: 0.3s;
  cursor: pointer;
  position:relative;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(10, 10, 10);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: black;
    position: relative;
    height: 172px;
    color: white;
    text-align: center;
    // background-size: cover;
  }
  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }
  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
  }
  &-name {
    color: black;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-location {
    color: black;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

