<section id="about">
  <div class="about">
  <div class="about_heading">
    <h3>About<span> Us</span></h3>
  </div>

    <ul id="categories">
      <li>
          <div>
             <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/1.jpg">
              <h1 class="honeycomb-cell__title">Retail Good Services</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/2.jpg">
              <h1 class="honeycomb-cell__title" >Parking & Car Services.</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/3.jpg">
              <h1 class="honeycomb-cell__title" >Support Small Bussiness</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/4.jpg">
              <h1 class="honeycomb-cell__title">Movie Theater</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/5.jpg">
              <h1 class="honeycomb-cell__title">Food Zone</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/6.jpg">
              <h1 class="honeycomb-cell__title">Banking Services</h1>
          </div>
      </li>
      <li>
          <div>
            <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/7.jpg">
              <h1 class="honeycomb-cell__title">Kids PlayArea</h1>
          </div>
      </li>
      <li>
        <div>
          <img class="honeycomb-cell__image" src="../../../assets/images/About_Us/8.jpg">
            <h1 class="honeycomb-cell__title">Different Shops Available </h1>
        </div>
    </li>
  </ul>
    <!-- <ul class="honeycomb" lang="es">
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/1">
        <div class="honeycomb-">Diseño exclusivo</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/2">
        <div class="honeycomb-cell__title">Impermeables</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/3">
        <div class="honeycomb-cell__title">Tablero doble cara</div>
        </li>
       </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
        <div class="honeycomb-cell__title">Maletín de empaque</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
        <div class="honeycomb-cell__title">Maletín de empaque</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
        <div class="honeycomb-cell__title">Maletín de empaque</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
        <div class="honeycomb-cell__title">Maletín de empaque</div>
      </li>

      <li class="honeycomb-cell honeycomb__placeholder"></li>
    </ul> -->

  </div><br><br><br>
</section>
<section id="gallery">
  <div id="content">
    <div class="gallery">
      <div class="gallery_heading">
        <h3>Photo <span>Gallery</span></h3>
      </div>
      <div class="box">
        <div class="images">
          <img src="../../../assets/images/gallery/gallery 1.jpg" />
          <img src="../../../assets/images/gallery/gallery 4.jpg" />
          <img src="../../../assets/images/gallery/gallery 11.jpg" />
          <img src="../../../assets/images/gallery/gallery 9.jpg" />
          <img src="../../../assets/images/gallery/gallery 15.jpg" />
          <img src="../../../assets/images/gallery/gallery 7.png" />
        </div>
        <div class="images">
          <img src="../../../assets/images/gallery/gallery 16.jpg" />
          <img src="../../../assets/images/gallery/gallery 20.jpg" />
          <img src="../../../assets/images/gallery/gallery 18.jpg" />
          <img src="../../../assets/images/gallery/gallery 10.jpg" />
          <img src="../../../assets/images/gallery/gallery 2.jpg" />
          <img src="../../../assets/images/gallery/gallery 5.jpg" />

        </div>
        <div class="images">
          <img src="../../../assets/images/gallery/gallery 8.jpg" />
          <img src="../../../assets/images/gallery/gallery 13.jpg" />
          <img src="../../../assets/images/gallery/gallery 19.png" />
          <img src="../../../assets/images/gallery/gallery 17.jpg" />
          <img src="../../../assets/images/gallery/gallery 3.jpg" />
          <img src="../../../assets/images/gallery/gallery 14.jpg" />
          <img src="../../../assets/images/gallery/gallery 21.jpg" />
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="write_testimonials">
  </section>
  <section id="testimonials">
    <div class="testimonials">
    <div class="testimonials_heading">
      <h3> Testimonials</h3>
      </div>
      </div>
      <div class="row no-gutters">
      <div class="col-md-6 no-gutters left d-flex justify-content-center align-items-center">
        <div class="wrapper bg-white">
          <div class="h6 font-weight-bold">
              New Testimonial
          </div>
          <form class="pt-2">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" required>
                  <div class="label" id="name"></div>

              </div>
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Email" required>
                          <div class="label" id="email"></div>
                      </div>
          </form>
          <div class="font-weight-bold head">Your feelings</div>
          <div class="btn-group d-flex justify-content-between flex-wrap py-1 pt-4" data-toggle="buttons">

              <label class="btn btn-primary form-check-label alert alert-dismissible fade show mx-2">
                 Good
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </label>

                <label class="btn btn-primary form-check-label alert alert-dismissible fade show mx-2">
                 Normal
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </label>

              <label class="btn btn-primary form-check-label alert alert-dismissible fade show mx-2 py-1 pt-2">
                 Bad
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </label>
            </div>
          <div class="font-weight-bold head pb-1">Description</div>
          <textarea name="des" id="desc" cols="50" rows="5" placeholder="Description"></textarea>
          <div class="d-flex justify-content-end pt-2">
              <div class="btn btn-cancel mx-2">Cancel</div>
              <div class="btn btn-primary">Submit</div>
          </div>
  </div>
      </div>
      <div class=" col-md-6 no-gutters right d-flex justify-content-center align-items-center">
          <!-- <div style="width:80%;"> -->
              <!-- <p-carousel [value]="images" [autoplayInterval]="1000">
                  <ng-template let-images pTemplate="item">
                      <div class="product-item" style="width:80%">
                          <div class="product-item-content">
                              <img [src]="images.previewImageSrc" style="overflow: hidden;background-repeat: no-repeat;" width="100%" height="100%" [alt]="images.alt" [title]="images.title">
                          </div>
                      </div>
                  </ng-template>
              </p-carousel> -->
              <div style="width: 80%;">
                <p-carousel [value]="images" [autoplayInterval]="1000">
                  <ng-template let-images pTemplate="item">
                    <div class="product-item" style="width: 80%;">
                      <div class="product-item" style="width: 80%">
                      <div class="product-item-content">
                        <img class="profile img" [src]="images.previewImageSrc" style="overflow: hidden;background-repeat: no-repeat;" width="100%" height="100%" comment="images.comment" [name]="images.name">
                        <!-- <section>
                          <div class="media-scroller with-overscroll snaps-inline snaps--individual">
                            <div class="testimonial-container">
                              <div class="testimonial-section">

                                <div class="media-element">
                                  <div class="space">
                                  <div class="testimonial-card">
                                    <div class="profile">
                                      <img src="../../../assets/images/testimonial/user/1.jpg" />
                                    </div>
                                    <div class="card-body">
                                      <p class="person-text">The facilities are well maintained. And the staff were warm welcoming and very helpful. I was very satisfied with the sport club services. I will be continuing my journey with them!</p>
                                      <p class="person-name"><span>By</span> Anna Blake</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="media-element">

                                    <div class="space">
                                  <div class="testimonial-card">
                                    <div class="profile">
                                      <img src="../../../assets/images/testimonial/user/2.png" />
                                    </div>
                                    <div class="card-body">
                                      <p class="person-text">Let’s go sports club! Had so much fun and wonderful experience at your sports club. Will be coming soon to enjoy your facilities.</p>
                                      <p class="person-name"><span>By</span> Jason Miller</p>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                </div>
                                </div></div></section> -->
                      </div>
                      </div>
                    </div>
                  </ng-template>
                </p-carousel>
              </div>
          </div>
          </div>
  </section>
      <!-- </div>
      </div> -->


